---
import { getEntry, getCollection, render } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import Container from '@/components/Container.astro';
import Author from '@/components/ui/Author.astro';
import { DEFAULT_CONFIGURATION } from '@/lib/constants';
import WorkExperience from '@/components/ui/WorkExperience.astro';
import Talk from '@/components/ui/Talk.astro';
import { sortByDateRange, sortByYear } from '@/lib/utils';
import { getSiteConfig } from '@/lib/config';

const entry = await getEntry('pages', 'homepage');

if (!entry) {
  throw new Error('Homepage entry not found');
}

const { Content } = await render(entry);

const links = await getCollection('links');

const jobs = await getCollection('jobs');
const sortedJobs = sortByDateRange(jobs);

const talks = await getCollection('talks');
const sortedTalks = sortByYear(talks);

const config = getSiteConfig();
---

<BaseLayout seo={entry.data.seo}>
  {config.elements.avatar && (
    <Container as="section" class="py-6">
      <Author {...DEFAULT_CONFIGURATION.author} />
    </Container>
  )}

  {config.sections.about && (
    <Container as="section" class="py-6">
      <div class="flex flex-col gap-6">
        <div class="flex items-center">
          <span class="text-headings">About</span>
        </div>
        <div class="prose dark:prose-invert">
          <Content />
        </div>
      </div>
    </Container>
  )}
  {
    config.sections.socialLinks && links.length > 0 && (
      <Container as="section" class="py-8">
        <div class="flex flex-col gap-5">
          <span class="text-headings">Contact</span>
          <ul class="flex flex-col gap-3">
            {links.map((link) => (
              <li class="py-0.5">
                <div class="flex items-center gap-5">
                  <span class="min-w-28 text-muted-foreground">
                    {link.data.label}
                  </span>
                  <a
                    class="text-headings font-medium"
                    rel="noopener noreferrer"
                    target="_blank"
                    href={link.data.url}
                  >
                    {link.data.name}
                  </a>
                </div>
              </li>
            ))}
          </ul>
        </div>
      </Container>
    )
  }
  {
    config.sections.workExperience && sortedJobs.length > 0 && (
      <Container as="section" class="py-6">
        <div class="flex flex-col gap-5">
          <span class="text-headings">Work Experience</span>
          <ul class="flex flex-col gap-8">
            {sortedJobs.map((job) => (
              <WorkExperience entry={job} />
            ))}
          </ul>
        </div>
      </Container>
    )
  }
  {
    config.sections.talks && sortedTalks.length > 0 && (
      <Container as="section" class="py-6">
        <div class="flex flex-col gap-5">
          <span class="text-headings">Speaking</span>
          <ul class="flex flex-col gap-8">
            {sortedTalks.map((talk) => (
              <Talk entry={talk} />
            ))}
          </ul>
        </div>
      </Container>
    )
  }
</BaseLayout>
